@charset 'UTF-8';

header {
    z-index: 1;
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    width: calc(100% + 2rem);
    margin: -1rem;
    margin-bottom: 0;
    background-color: var(--color-white-secondary);
}
header > a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: var(--screen-max-width);
    gap: 1rem;
    margin: 1rem;
    text-decoration: none;
    color: inherit;
}
header > a > .icon {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
}
